/* Top nav and header
-------------------------------------------------- */
body {
	position: relative;
	padding-top: 70px;
}

.navbar-inverse {
  background-color: #563d7c;
}
.navbar-inverse .navbar-brand {
  color: #fff;
}
.navbar-inverse .navbar-nav > li > a {
  color: #cdbfe3;
}
.navbar-inverse .navbar-nav > li > a:hover {
  color: #fff;
}

.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #463265;
}

.navbar-inverse .navbar-nav > .dropdown > a:hover .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}

.navbar-inverse .navbar-nav > .dropdown > a .caret {
  border-top-color: #999999;
  border-bottom-color: #999999;
}

.navbar-inverse .navbar-nav > .open > a .caret,
.navbar-inverse .navbar-nav > .open > a:hover .caret,
.navbar-inverse .navbar-nav > .open > a:focus .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}

.navbar-brand {
	max-width: 300px;
}

/* Custom docs button
-------------------------------------------------- */
.btn-bs {
  color: #563d7c;
  background-color: #fff;
  border-color: #e5e5e5;
}
.btn-bs:hover,
.btn-bs:active {
  color: #fff;
  background-color: #563d7c;
  border-color: #563d7c;
}

/* My Styles
-------------------------------------------------- */

.nav-setting {
	padding: 3px 20px;
}

.nav-setting input {
	width: 60px;
	display: inline-block;
	margin-bottom: 0;
}

.nav-setting .help-block {
	display: inline-block;
}

input.aaInput {
	background: transparent;
	border-color: transparent;
	box-shadow: none;
	width: 100%;
	margin-bottom: 0;
}

/* Autocomplete styles
-------------------------------------------------- */

.twitter-typeahead {
  width: 100%;
}

.twitter-typeahead .tt-query,
.twitter-typeahead .tt-hint {
  margin-bottom: 0;
}

.tt-dropdown-menu {
  width: 100%;
  margin-top: 2px;
  padding: 5px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,.2);
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;
}

.tt-suggestion.tt-cursor a {
  color: #fff;
}

.tt-suggestion p {
  margin: 0;
}

.aa-code {
  float: right;
  font-style: italic;
}

.aa-name {
  font-weight: bold;
}

.aa-type {
  font-size: 14px;
}