<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Peptide Synthesis Calculator</title>
	<meta name="description" content="">
    <meta name="author" content="Sergio Haro">
    <link href="css/bootstrap.css" rel="stylesheet" />
    <link href="css/bootstrap-glyphicons.css" rel="stylesheet" />
	<link href="css/styles.css" rel="stylesheet" />
	<link rel="shortcut icon" href="favicon.png">
</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top">
	  <a class="navbar-brand" href="#">Peptide Synthesis Calculator</a>
	  <ul class="nav navbar-nav pull-right">
              <li id="fat-menu" class="dropdown">
                <a href="#" id="drop3" role="button" class="dropdown-toggle" data-toggle="dropdown">Settings <b class="caret"></b></a>
                <ul class="dropdown-menu" id="settingsContainer" role="menu" aria-labelledby="settings"></ul>
              </li>
            </ul>	  
	</div>

	<div class="container">
		
		<table id="peptideContainer" class="table table-striped"></table>
	</div>

	<script type="text/template" id="peptide_template">
			<thead>
				<th style="width: 37%">Compound</th>
				<th style="width: 15%">MW (g/mol)</th>
				<th style="width: 15%">Equiv</th>
				<th style="width: 15%">mmol</h>
				<th style="width: 15%">wt (mg)</th>
				<th style="width: 3%"></th>
			</thead>
			<tr>
				<td colspan=6>
					<input type="text" class="aaInput form-control" placeholder="Enter an amino acid" value="<%= name %>" />
				</td>
			</tr>
	</script>

	<script type="text/template" id="item_template">
		<td><%= name %></td>
		<td><%= mw %></td>
		<td><%= equiv %></td>
		<td><%= mmol %></td>
		<td><%= wt %></td>
		<td>
			<div class="actionCell">
				<div class="actions">
					<a href="#" class="delete action" data-cid="<%= model.cid %>" title="Delete Amino Acid">
						<span class="glyphicon glyphicon-remove"></span>
					</a>
				</div>
			</div>
		</td>
	</script>

	<script type="text/template" id="settings_template">
			<li class="dropdown-header">Amount</li>
			<li class="nav-setting">
				<input type="text" value="<%= amt %>" class="amount form-control input-small" />
				<span class="help-block">mmol</span>
			</li>
			<li class="divider"></li>
			<li class="dropdown-header">AA Equiv</li>
			<li class="nav-setting">
				<input type="text" value="<%= equiv %>" class="equiv form-control input-small" />
			</li>
			<li class="divider"></li>
			<li class="dropdown-header">Activator Equiv</li>
			<li class="nav-setting">
				<input type="text" value="<%= actEquiv %>" class="actEquiv form-control input-small" />
			</li>
	</script>

	<script type="text/template" id="autocomplete_template">
		<p class="aa-code"><%= data.code %></p>                           
    	<p class="aa-name"><%= data.name %></p>
    	<p class="aa-type"><%= data.type %></p>
    </script>

	<script>
	var require = {
		paths: {
			"backbone": "vendor/backbone.min",
			"underscore": "vendor/underscore.min"
		},
	    shim: {
	        'backbone': {
	            deps: ['underscore'],
	            exports: 'Backbone'
	        },
	        'underscore': {
	            exports: '_'
	        }
	    }
	};
	</script>
	<script src="js/vendor/jquery-2.0.3.min.js"></script>
	<script src="js/vendor/bootstrap.min.js"></script>
	<script src="js/vendor/typeahead.js"></script>
	<script src="js/vendor/require.js" data-main="js/app"></script>
</body>
</html>